#activationEvents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    padding: 50px;
}

#activationEvents p {
    color: #6F6F6F;

}

#activationEvents #title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #6F6F6F;
}

#activationEvents #subtitle {
    margin: 60px 0px 40px 0px;
    width: 555px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #6F6F6F;
}



/* BOXS */

.boxAllEvents {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.boxevents {
    gap: 13px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 250px;
    width: 340px;
    border-radius: 20px;
    border: 1.8px solid #202020;
    background-color: #121212;
}

.boxevents h2{
    font-size: 20px;
    color: #FFF;
}

.boxevents a{
    color: #afff00;
}

.iconEvents{
    background-color: #afff00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 10px;
}
