/*-------- HEADER --------*/

/* notebook pequeno */
@media (max-width: 1070px) {


    /*=======HEADER=======*/

    header nav {
        display: none;
    }


    .buttons__burger {
        display: flex;
        align-items: end;
    }


    header {
        justify-content: space-between;
        margin: 20px;
    }

    /*=======BANNER=======*/

    #BannerContainer {
        flex-direction: column;

    }

    .BannerText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .BannerText h1 {
        text-align: center;
        width: 420px;
    }


    /*-------- FOOTER --------*/

    #footerNav {
        margin: 30px 0px;
        gap: 30px 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }


    .midBarMobile {
        display: block;
    }

}


@media (max-width: 1000px) {
    .mobileBTN {
        display: block;
    }

    .pcBTN {
        display: none;
    }

    .containerButtonCart {
        display: flex;
        justify-content: space-around;
    }


}



@media (max-width: 850px) {
    .img_Product_card_PC img {
        height: 500px;
    }
}

@media (max-width: 770px) {
    /*-------- FOOTER --------*/

    #desc {
        padding: 0px 20px;
        font-size: 14px;
        width: 100vw;
        text-align: center;
        color: #a0a0a0;
        margin-bottom: 40px;
    }

    .rightsReserved {
        flex-direction: column;
    }

}





@media (max-width: 660px) {

    /*-------- PRODUCT CARD --------*/
    .card {
        display: flex;
        align-items: center;
        background-color: #FFF;
        border-radius: 35px;
        height: 750px;
        width: 98vw;
    }

    .text_Product_card {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #titleProduct {
        font-size: 30px;
    }


    .text_Product_card ul {
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
    }

    .text_Product_card ul li {
        margin: 0px;
    }

    .img_Product_card_PC {
        display: none;
    }


    .img_Product_card_MOBILE {
        text-align: center;
        height: 360px;
        display: block;
        overflow: hidden;
    }

    .img_Product_card_MOBILE img {
        position: relative;
        bottom: 50px;
        right: 70px;
        height: 480px;
        padding-left: 100px;

    }



    .buttonCart {
        width: 160px;
    }


    .containerButtonCart {
        display: flex;
        width: 90vw;
        height: 65px;
        align-items: center;
        justify-content: center;
    }


    .arrow-btn-Container {
        width: 90vw;
        height: 70px;
        position: relative;
        bottom: 20px;
        gap: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}




/* celular grande / tablet */
@media (max-width: 580px) {

    /*=======BANNER=======*/

    .BannerText h1,
    .greenTextBanner {
        font-size: 70px;
    }

    .BannerText h3 {
        font-size: 15px;
        text-align: center;
    }


    /*=======BAR=======*/
    .bar {
        width: 235px;
        height: 28px;
    }

    .ballGreen {
        width: 8px;
        height: 8px;
    }

    #barText {
        font-size: 9.5px;
    }



    /* =====BUTTONS===== */

    .button--green {
        height: 54px;
        width: 184px;
        font-size: 14px;
    }

    .button--green img {
        height: 18px;
    }


    .button--white {
        height: 50px;
        width: 180px;
    }


    /*TEXTBALLS- ASIDE*/

    #textsBalls {
        flex-wrap: wrap;
    }

    .ball--texts {
        height: 9px;
        width: 9px;
    }




    /*-------- PRODUCT CARD --------*/
    .card {
        display: flex;
        align-items: center;
        background-color: #FFF;
        border-radius: 35px;
        height: 750px;
        width: 98vw;
    }

    .text_Product_card {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #titleProduct {
        font-size: 30px;
    }


    .text_Product_card ul {
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
    }

    .text_Product_card ul li {
        margin: 0px;
    }

    .img_Product_card_PC {
        display: none;
    }


    .img_Product_card_MOBILE {
        text-align: center;
        height: 360px;
        display: block;
        overflow: hidden;
    }

    .img_Product_card_MOBILE img {
        position: relative;
        bottom: 50px;
        right: 70px;
        height: 480px;
        padding-left: 100px;

    }



    .buttonCart {
        width: 160px;
    }


    .containerButtonCart {
        display: flex;
        width: 90vw;
        height: 65px;
        align-items: center;
        justify-content: center;
    }


    .arrow-btn-Container {
        width: 90vw;
        height: 70px;
        position: relative;
        bottom: 20px;
        gap: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }




    /*---------EVENTS SECTION---------*/
    #activationEvents #subtitle {
        width: 100%;
        font-size: 15px;
    }

    /*-------- FOOTER --------*/

    #footerNav {
        margin: 30px 0px;
        gap: 30px 120px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }


    .midBarMobile {
        display: block;
    }


    #desc {
        padding: 0px 20px;
        font-size: 14px;
        width: 100vw;
        text-align: center;
        color: #a0a0a0;
        margin-bottom: 40px;
    }


    .emailDiscount input {
        width: 230px;
        height: 50px;
    }


    .emailDiscount button {
        height: 40px;
        width: 130px;
    }

    #footerNav ul {
        gap: 10px;
    }

}



@media (max-width: 500px) {

    .greenText {
        font-size: 8px;
    }

    #benefitsContainer #titleBenefitsContainer {
        font-size: 25px;
    }
}



@media (max-width: 470px) {

    /*-------- FOOTER --------*/
    .emailDiscount {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 20px 0px;
    }


    #footerNav ul a {
        font-size: 12px;
    }
}






/* celular */
@media (max-width: 420px) {

    /*=======HEADER=======*/

    .buttonHEADER {
        display: none;
    }

    .buttons__burger {
        width: 29px;
        height: 24px;
    }

    header {
        justify-content: space-between;
        margin: 20px;
    }


    /*=======BANNER=======*/

    #BannerContainer {
        min-height: 100vh;
        overflow: hidden;
    }


    .BannerText {
        align-items: start;
        justify-content: center;
        margin-top: 0px;
        width: 100vw;
        padding-left: 30px;
    }


    .greenTextBanner {
        font-size: 56px;
    }

    .BannerText h1 {
        padding-top: 10px;
        font-size: 56px;
        text-align: start;
        width: 416px;
    }

    .BannerText h3 {
        width: 250px;
        height: auto;
        font-size: 13px;
        text-align: start;
    }


    .imgBanner {
        position: relative;
        left: 78px;
        bottom: 180px;
        margin-bottom: -220px;
        height: auto;
        overflow: hidden;
    }

    .imgBanner img {
        height: 600px;
    }

    /*=======BAR=======*/

    .bar {
        width: 205px;
        height: 28px;
    }

    .ballGreen {
        width: 6px;
        height: 6px;
    }

    #barText {
        font-size: 8px;
    }

    /* =====BUTTONS===== */

    .buttonsMAIN {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 12px;
    }

    .button--green {
        height: 54px;
        width: 184px;
        font-size: 13px;
    }

    .button--green img {
        height: 18px;
    }


    .button--white {
        font-size: 14px;
        height: 50px;
        width: 180px;
    }


    /*TEXTBALLS- ASIDE*/

    #textsBalls {
        flex-direction: column;
        align-items: start;
        font-size: 15px;
        flex-wrap: wrap;
    }

    .ball--texts {
        height: 9.5px;
        width: 9.5px;
    }



    /*-------- PRODUCT CARD --------*/

    .img_Product_card_PC {
        display: none;
    }


    .img_Product_card_MOBILE {
        height: 360px;
        display: block;
        overflow: hidden;
    }

    .img_Product_card_MOBILE img {
        position: relative;
        bottom: 50px;
        right: 70px;
        height: 480px;
        padding-left: 0px;
    }

    .card {
        display: flex;
        align-items: center;
        background-color: #FFF;
        border-radius: 35px;
        height: 750px;
    }

    .text_Product_card {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #titleProduct {
        font-size: 30px;
    }


    .text_Product_card ul {
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
    }

    .text_Product_card ul li {
        margin: 0px;
    }

    .buttonCart {
        width: 160px;
    }


    .containerButtonCart {
        display: flex;
        width: 80vw;
        height: 65px;
        align-items: center;
        justify-content: center;
    }


    .arrow-btn-Container {
        width: 80vw;
        height: 70px;
        position: relative;
        bottom: 20px;
        gap: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }




    /*---------EVENTS SECTION---------*/
    #activationEvents #subtitle {
        width: 100%;
        font-size: 12px;
    }



    /*-------- FOOTER --------*/

    #footerNav {
        margin: 30px 0px;
        gap: 30px 60px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #DownInput {
        margin-top: -15px;
        font-size: 10px;
        color: #555555;
    }


    #desc {
        padding: 0px 20px;
        font-size: 12px;
        width: 100vw;
        margin-bottom: 20px;
    }


    .emailDiscount input {
        width: 180px;
        height: 50px;
    }


    .emailDiscount button {
        height: 40px;
        width: 100px;
    }


    #footerNav ul h4 {
        font-size: 12px;
    }


    .rightsReserved p {
        font-size: 12px;
        color: #5b5956;
    }

}


@media (max-width: 370px) {
    #footerNav ul a {
        font-size: 10px;
    }
}