/*-------- HEADER --------*/

/* notebook pequeno */
@media (max-width: 1050px) {


    /*=======HEADER=======*/

    header nav {
        display: none;
    }


    .buttons__burger {
        display: flex;
        align-items: end;
    }


    header {
        justify-content: space-between;
        margin: 20px;
    }

    /*=======BANNER=======*/

    #BannerContainer {
        flex-direction: column;

    }

    .BannerText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .BannerText h1 {
        text-align: center;
        width: 420px;
    }

}






/* celular grande / tablet */
@media (max-width: 580px) {

    /*=======BANNER=======*/

    .BannerText h1,
    .greenTextBanner {
        font-size: 70px;
    }

    .BannerText h3 {
        font-size: 15px;
        text-align: center;
    }


    /*=======BAR=======*/
    .bar {
        width: 235px;
        height: 28px;
    }

    .ballGreen {
        width: 8px;
        height: 8px;
    }

    #barText {
        font-size: 9.5px;
    }



    /* =====BUTTONS===== */

    .button--green {
        height: 54px;
        width: 184px;
        font-size: 14px;
    }

    .button--green img {
        height: 18px;
    }


    .button--white {
        height: 50px;
        width: 180px;
    }


    /*TEXTBALLS- ASIDE*/

    #textsBalls {
        flex-wrap: wrap;
    }

    .ball--texts {
        height: 9px;
        width: 9px;
    }


}





/* celular */
@media (max-width: 420px) {

    /*=======HEADER=======*/

    .buttonHEADER {
        display: none;
    }

    .buttons__burger {
        width: 29px;
        height: 24px;
    }

    header {
        justify-content: space-between;
        margin: 20px;
    }


    /*=======BANNER=======*/


    .BannerText {
        align-items: start;
        margin-top: 0px;
        width: 100vw;
        padding-left: 30px;
    }


    .greenTextBanner {
        font-size: 56px;
    }

    .BannerText h1 {
        padding-top: 10px;
        font-size: 56px;
        text-align: start;
        width: 416px;
    }

    .BannerText h3 {
        width: 250px;
        height: 60px;
        font-size: 13px;
        text-align: start;
    }


    .imgBanner {
        position: relative;
        right: 0px;
        left: 78px;
        bottom: 248px;
        height: 500px;
        overflow: hidden;
    }

    .imgBanner img {
        height: 600px;
    }

    /*=======BAR=======*/

    .bar {
        width: 205px;
        height: 28px;
    }

    .ballGreen {
        width: 6px;
        height: 6px;
    }

    #barText {
        font-size: 8px;
    }

    /* =====BUTTONS===== */

    .buttonsMAIN {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 12px;
    }

    .button--green {
        height: 54px;
        width: 184px;
        font-size: 13px;
    }

    .button--green img {
        height: 18px;
    }


    .button--white {
        font-size: 14px;
        height: 50px;
        width: 180px;
    }


    /*TEXTBALLS- ASIDE*/

    #textsBalls {
        flex-direction: column;
        align-items: start;
        font-size: 15px;
        flex-wrap: wrap;
    }

    .ball--texts {
        height: 9.5px;
        width: 9.5px;
    }





}