#productCard {
    background-image: linear-gradient(to right, #ecf3e2, #FFF);
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.card {
    display: flex;
    align-items: start;
    background-color: #FFF;
    border-radius: 35px;
    height: 570px;
    width: 860px;
}

.img_Product_card_MOBILE {
    display: none;
}

.img_Product_card_PC {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    overflow: hidden;
    height: 560px;

}

.img_Product_card_PC img {
    height: 650px;

}

.text_Product_card {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex: 1;
}

#flavor {
    color: #b6e074;
}

#titleProduct {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}

#descProduct {
    margin-bottom: 20px;
    color: #a5a5a5;
}

.badges1,
.badges2,
.badges3,
.badges4 {
    background-color: #F3F3F3;
    color: #8F8F8F;
    font-family: "Poppins", sans-serif;
    border-radius: 55px;
    text-align: center;
    font-size: 14.3px;
    padding: 0px 10px 0px 10px;
    margin: 0px;
}


.text_Product_card ul {
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}


.containerButtonCart {
    margin-top: 20px;
    height: 65px;
}

.buttonCart {
    width: 160px;
    background-color: #84CC16;
    height: 50px;
    border-radius: 55px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform;
    transition-duration: 0.3s;
    transform: scale(1);
}

.buttonCart:hover {
    transition-property: transform;
    transition-duration: 0.2s;
    transform: scale(1.05);
}

.arrow-btn-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    height: 90px;
}


.arrow-btn {

    border: 1px solid black;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #e9f5db00;
    /*background-color: #E9F5DB;*/
    /* verde clarinho */
    color: #1f1f1f;
    font-size: 24px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    gap: 180px;

}

.arrow-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.16);
}

.arrow-btn:active {
    transform: scale(0.95);
}


.left{
    margin-right: 10px;
}

.right{
    margin-left: 10px;
}

.mobileBTN{
    display: none;
}