header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.logo {
    max-width: 180px ;
    display: flex;
}

.logo h2{
    font-size: 30px;
}

.verde{
    display: flex;
    color: #b1f50c;
}

.cima{
    position: relative;
    bottom: 1px;
}

nav ul li a{
    color: #6d6d6a;
    font-weight: 500;
    text-decoration: none;
    
}

ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
}

button{
    background-color: #c7fd4d;
    height: 40px;
    width: 130px;
    border-radius: 19px;
    border: none;
    font-weight: 800;
}

