#BannerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BannerText h1 {
    letter-spacing: -4px;
    height: 86px;
    font-size: 84px;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.greenTextBanner {
    letter-spacing: -4px;
    font-weight: 900;
    font-size: 84px;
    text-transform: uppercase;
    margin: 0px;
    color: #b1f50c;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}


.BannerText h3 {
    margin: 0px;
    width: 400px;
    height: 80px;
    color: #9d9f9a;
    font-weight: 500;
    font-size: 20px;
}




/*=======BAR=======*/
.bar {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 28px;
    background-color: #101211;
    border-radius: 30px;
    text-transform: uppercase;
}

.ballGreen {
    border-radius: 180px;
    background-color: #a2ed02;
    width: 10px;
    height: 10px;
}

#barText {
    letter-spacing: 1.5px;
    color: #FFF;
    font-size: 13px;
}


/* =====BUTTONS===== */

.buttonsMAIN {
    display: flex;
    justify-content: center;
    gap: 12px;
}


.button--green{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #afff01;
    height: 54px;
    width: 204px;
    border-radius: 30px;
    border: none;
    font-weight: 900;
    text-align: center;
    font-size: 14px;
    transition-property: transform;
    transition-duration: 0.3s;
    transform: scale(1);
}

.button--green img{
    height: 18px;
}


.button--white{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fbfef9;
    border: 2px solid black;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    font-weight: 800;
    text-align: center;
    transition-property: transform;
    transition-duration: 0.3s;
    transform: scale(1);
}


.button--green:hover,.button--white:hover{
    transition-property: transform;
    transition-duration: 0.2s;
    transform: scale(1.05);
}
